<!DOCTYPE html>
<html>
  <head>
    <title>TEST SPECTACLE APP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>TEST SPECTACLE APP</h1>
  </body>
</html>
